# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# Env files and virtual environment folders
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode or IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs and databases
*.log
*.sqlite3

# Ignore data files (optional - if any)
data/
